<div class="container col top-bar">
    <marquee behavior="scroll" direction="left">| {{systemTime}} | User Agent: {{navigator.userAgent}}</marquee>
    <div #topBar *ngIf="menuVisible" class="container">
        <div #navButtons class ="container buttons">
            <div (mouseover)="setActive(0)" class="button active" hover>
                <span>> Links</span>
            </div>
            <div (mouseover)="setActive(1)" class="button">
                <span>> Education</span>
            </div>
            <div (mouseover)="setActive(2)" class="button">
                <span>> Portfolio</span>
            </div>
            <div (mouseover)="setActive(3)" class="button">
                <span>> Contact Me</span>
            </div>
            <div (mouseover)="setActive(4)" class="button">
                <span>> Fun</span>
            </div>
        </div>
        <div #navContent class="container nav-content">
            <app-links *ngIf="activeNum == 0" class="links-component"></app-links>
            <app-education *ngIf="activeNum == 1" class="education-component"></app-education>
            <app-portfolio *ngIf="activeNum == 2" class="portfolio-component"></app-portfolio>
            <app-contact-me *ngIf="activeNum == 3" class="contact-me-component"></app-contact-me>
            <app-fun *ngIf="activeNum == 4" class="links-component"></app-fun>
        </div>
    </div>
    <div (click)="toggleMenu()" class="container menu-toggle button">
        <span *ngIf="menuVisible" >&and;</span>
        <span *ngIf="!menuVisible" >&or;</span>
    </div>
</div>